name: flutter_screenutil_plus
description: A powerful Flutter plugin for adapting screen and font size with CSS-like breakpoints and SwiftUI-like size classes. Features responsive scaling, breakpoint-aware widgets, adaptive containers, and intelligent rebuild optimization. Guaranteed to look good on different screen sizes!
version: 1.2.1
homepage: https://github.com/muhammadkamel/flutter_screenutil_plus
repository: https://github.com/muhammadkamel/flutter_screenutil_plus
license: MIT

environment:
  sdk: ^3.10.1

dependencies:
  equatable: ^2.0.7
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
